.navbar-nav .nav-link{
    color: white !important;
}


.bannerBgImage{
    
    background-size: cover;
    position: relative;
    height:auto;
    
   
}
.button{
   text-align: center; 
   background-color:#9f24ec;
    color: #fff;
    margin-left:50px;
    padding: 10px 20px;
    border-radius: 7px;
    

}


button:hover{
    color: rgb(219, 214, 214);
    text-decoration: none;
}
.bannerText{
   margin-top: 100px;
    color: rgb(5, 5, 99);
    font-size: 50px;
   
}

section{
    padding-bottom: 50px;
    padding-top: 60px;
}

.image{
  margin-top: 0px;
  width: 900px;
  height: 600px;
  
}
.bannerTitle{
    font-size: 15px;

}
.bannerDesc{
    font-size: 20px;
    color: rgb(131, 5, 5);
}
.bannerDesc1{
    text-align: left;
    font-size: 20px;
    color: rgb(5, 5, 99);
}

body{
    overflow-x: hidden;
}
.carousel-inner{
    text-align: center;
    height:300px;
    background-color: grey;
    color: white;
    margin-top: 30px;
}

/* 5 Services */
.services_wrapper .card {
    background-color: var(--bg-light);
    cursor: pointer;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.services_wrapper .card:hover {
    box-shadow: 0 0.9375rem 1.875rem rgba(4, 18, 211, 0.3);
    background: var(--bg-white);
    
}


.portfolio-wrapper .card{
    background-color: var(--bg-light);
    cursor: pointer;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.portfolio-wrapper .card:hover{
    box-shadow: 0 0.9375rem 1.875rem rgba(1, 9, 130, 0.3);
    background: var(--bg-white);
    border: black;


}
.card-img-top{
    height: 40vh;
    width: 50vh;
}




@media screen and (min-width:568px){
    .image{
        display: flex;
    }
}
@media screen and (max-width:567px){
    .image{
        display: flex;
        height:500px;
    }
}



@media screen and (max-width:567px){
    .card:not(:first-child){
        display: none;
    }
}



.BIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

